

body{
  background-color:black;
    
}

.skr{
    background-color:green;
    padding: 10px 0px 10px 0px;
    color: yellow;
}

@keyframes slkr {

    0%{
        color:red;

    }
   
    50%{
        color:yellow;
    }

    100%{
        color: chartreuse;
    }
}

.srh{
    animation:slkr 2s infinite;
}

@media only screen and (min-width: 100px) and (max-width:600px)
{
.rmr{
  height:180px;

} 
    
}


@media only screen and (min-width: 600px) and (max-width:999px)
{
.rmr{
  height:250px;

} 
    
}

@media only screen and (min-width: 1000px) and (max-width:1500px)
{
.rmr{
  height:500px;

} 
    
}

.hemanth{
display: none;
}

.pagination {
    display: inline-block;
  }


@keyframes tarun {

    0%{
        background-color:deeppink;

    }
   
    50%{
        background-color:deepskyblue;
    }

    100%{
        background-color: green;
    }
}

 .pagination button{
    animation:tarun 3s infinite;
}
  
  
  .pagination button {
    color: white;
    float: left;
    padding: 6px 12px;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;

    margin: 3px 2px;
  }
  
  .pagination button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #fa2424;
  
  }
  
  .pagination button:hover:not(.active) {background-color:green;}

  
  .center {
    text-align: center;
  }
  

